<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itzhari.preexam">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vistas.Crearcuenta"
            android:label="@string/title_activity_crearcuenta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Vistas.Play" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Vistas.CotenedorActivity" />
        <activity android:name=".Vistas.CrearnoActivity" />

        <service
            android:name=".MyAlarm"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.itzhari.preexam.action.ALARM_RECEIVER"></action>
            </intent-filter>
        </service>
    </application>

</manifest>